<table class="table table-striped table-bordered">
    <thead>
        <tr>

            <th>First</th>
            <th>Last</th>
            <th>Handle</th>
            <th>First</th>
            <th>Last</th>
            <th>Handle</th>
            <th>First</th>
            <th>Last</th>
            <th>Handle</th>
            <th>First</th>
            <th>Last</th>
            <th>Handle</th>
            <th>First</th>
            <th>Last</th>
            <th>Handle</th>
            <th>First</th>
            <th>Last</th>
            <th>Handle</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 20; i++)
        {
            <tr>

                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>

                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>

                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>

                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>

                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
        }




    </tbody>
</table>